<!DOCTYPE html>
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title id="title" name="title">내 지갑을 부탁해</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/js/config.js"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="/" class="app-brand-link">
              <span class="app-brand-logo demo">
                <svg
                  width="25"
                  viewBox="0 0 25 42"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <defs>
                    <path
                      d="M13.7918663,0.358365126 L3.39788168,7.44174259 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.68998853,16.2305145 1.09562888,17.7872135 3.12357076,19.2293357 C3.8146334,19.7207684 5.32369333,20.3834223 7.65075054,21.2172976 L7.59773219,21.2525164 L2.63468769,24.5493413 C0.445452254,26.3002124 0.0884951797,28.5083815 1.56381646,31.1738486 C2.83770406,32.8170431 5.20850219,33.2640127 7.09180128,32.5391577 C8.347334,32.0559211 11.4559176,30.0011079 16.4175519,26.3747182 C18.0338572,24.4997857 18.6973423,22.4544883 18.4080071,20.2388261 C17.963753,17.5346866 16.1776345,15.5799961 13.0496516,14.3747546 L10.9194936,13.4715819 L18.6192054,7.984237 L13.7918663,0.358365126 Z"
                      id="path-1"
                    ></path>
                    <path
                      d="M5.47320593,6.00457225 C4.05321814,8.216144 4.36334763,10.0722806 6.40359441,11.5729822 C8.61520715,12.571656 10.0999176,13.2171421 10.8577257,13.5094407 L15.5088241,14.433041 L18.6192054,7.984237 C15.5364148,3.11535317 13.9273018,0.573395879 13.7918663,0.358365126 C13.5790555,0.511491653 10.8061687,2.3935607 5.47320593,6.00457225 Z"
                      id="path-3"
                    ></path>
                    <path
                      d="M7.50063644,21.2294429 L12.3234468,23.3159332 C14.1688022,24.7579751 14.397098,26.4880487 13.008334,28.506154 C11.6195701,30.5242593 10.3099883,31.790241 9.07958868,32.3040991 C5.78142938,33.4346997 4.13234973,34 4.13234973,34 C4.13234973,34 2.75489982,33.0538207 2.37032616e-14,31.1614621 C-0.55822714,27.8186216 -0.55822714,26.0572515 -4.05231404e-15,25.8773518 C0.83734071,25.6075023 2.77988457,22.8248993 3.3049379,22.52991 C3.65497346,22.3332504 5.05353963,21.8997614 7.50063644,21.2294429 Z"
                      id="path-4"
                    ></path>
                    <path
                      d="M20.6,7.13333333 L25.6,13.8 C26.2627417,14.6836556 26.0836556,15.9372583 25.2,16.6 C24.8538077,16.8596443 24.4327404,17 24,17 L14,17 C12.8954305,17 12,16.1045695 12,15 C12,14.5672596 12.1403557,14.1461923 12.4,13.8 L17.4,7.13333333 C18.0627417,6.24967773 19.3163444,6.07059163 20.2,6.73333333 C20.3516113,6.84704183 20.4862915,6.981722 20.6,7.13333333 Z"
                      id="path-5"
                    ></path>
                  </defs>
                  <g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
                      <g id="Icon" transform="translate(27.000000, 15.000000)">
                        <g id="Mask" transform="translate(0.000000, 8.000000)">
                          <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                          </mask>
                          <use fill="#696cff" xlink:href="#path-1"></use>
                          <g id="Path-3" mask="url(#mask-2)">
                            <use fill="#696cff" xlink:href="#path-3"></use>
                            <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                          </g>
                          <g id="Path-4" mask="url(#mask-2)">
                            <use fill="#696cff" xlink:href="#path-4"></use>
                            <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                          </g>
                        </g>
                        <g
                          id="Triangle"
                          transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) "
                        >
                          <use fill="#696cff" xlink:href="#path-5"></use>
                          <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </span>
              <span class="app-brand-text demo menu-text fw-bolder ms-2" style="font-size: 1.55rem;">내 지갑을 부탁해</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item">
              <a class="menu-link" style="pointer-events: none;">
                <i class="menu-icon tf-icons bx bx-calendar-heart"></i>
                <div data-i18n="Analytics"><%=today%></div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">대시보드</div>
              </a>
            </li>

            <li class="menu-header small text-uppercase"><span class="menu-header-text">메뉴</span></li>
            <!-- Tables -->
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                <div data-i18n="Layouts">가계부</div>
              </a>

              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="cashbook" class="menu-link">
                    <div data-i18n="Without menu">이번주 가계부</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="" class="menu-link">
                    <div data-i18n="Without navbar">가계부 주간 정리</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="monthlycashbook" class="menu-link">
                    <div data-i18n="Without navbar">가계부 월간 정리</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="" class="menu-link">
                    <div data-i18n="Container">가계부 기록</div>
                  </a>
                </li>
              </ul>
            </li>

            <li class="menu-item active">
              <a href="setting" class="menu-link">
                <i class="menu-icon tf-icons bx bx-cog"></i>
                <div data-i18n="Tables">개인설정</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="#" class="menu-link" onclick="javascript:document.logoutForm.submit()">
                <form name="logoutForm" action="/logout" method="post" style="display: flex; color: #ff3e1d;">
                  <i class="menu-icon tf-icons bx bx-power-off"></i>
                  <div data-i18n="Tables"><b>로그아웃</b></div>
                </form>
              </a>
            </li>
          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <h6 style="margin-bottom: 0;">
                <div id="quote"></div>
              </h6>
            </div>
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                <div class="col-md-12">
                  <div class="card mb-4">
                    <h5 class="card-header">고정지출 설정</h5>
                    <div class="card-body">
                      <form id="formAccountSettings" name="addForm" action="fixedAdd" method="POST">
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <div class="form-floating">
                              <input type="text" class="form-control" id="floatingInput" name="date" placeholder="00일" aria-describedby="floatingInputHelp" onKeyup="this.value=this.value.replace(/[^-0-9]/g,'');">
                              <label for="floatingInput">일</label>
                            </div>
                          </div>
                          <div class="mb-3 col-md-6">
                            <div class="form-floating">
                              <input type="text" class="form-control" id="floatingInput" name="middle" placeholder="중분류" aria-describedby="floatingInputHelp">
                              <label for="floatingInput">중분류</label>
                            </div>
                          </div>
                          <div class="mb-3 col-md-6">
                            <div class="form-floating">
                              <input type="text" class="form-control" id="floatingInput" name="content" placeholder="내용" aria-describedby="floatingInputHelp">
                              <label for="floatingInput">내용</label>
                            </div>
                          </div>
                          <div class="mb-3 col-md-6">
                            <div class="form-floating">
                              <input type="text" class="form-control" id="floatingInput" name="price" placeholder="금액" aria-describedby="floatingInputHelp" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" onkeyup="inputNumberFormat(this);" onkeydown="inputNumberFormat(this);">
                              <label for="floatingInput">금액</label>
                            </div>
                          </div>
                          <div class="mb-3 col-md-6">
                            <div class="form-floating">
                              <input type="text" class="form-control" id="floatingInput" name="spending" placeholder="지출분석" aria-describedby="floatingInputHelp">
                              <label for="floatingInput">지출분석</label>
                            </div>
                          </div>
                        </div>
                        <div class="mt-2">
                          <button type="button" class="btn btn-primary me-2" onclick="checkForm()">추가</button>
                          <button type="reset" class="btn btn-outline-secondary">취소</button>
                        </div>
                      </form>
                    </div>
                    <!-- /Account -->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card mb-4">
                    <h5 class="card-header" style="padding-bottom: 5px; font-weight: 900;">이번주 예산 설정</h5>
                    <h6 class="card-header" style="padding-top: 0;">현재 예산: <%=resultgoalPrice%>원</h6>
                    <div class="card-body">
                      <form id="formAccountSettings" name="GoalForm" action="GoalAdd" method="POST">
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <div class="form-floating">
                              <input type="text" class="form-control" id="floatingInput"value="<%=goalPrice%>"  name="Goalprice" placeholder="100,000원" aria-describedby="floatingInputHelp" onKeyup="this.value=this.value.replace(/[^-0-9]/g,'');">
                              <label for="floatingInput">목표 금액</label>
                            </div>
                          </div>
                        </div>
                        <div class="mt-2">
                          <button type="button" class="btn btn-primary me-2" onclick="checkGoal()">저장</button>
                          <button type="reset" class="btn btn-outline-secondary">취소</button>
                        </div>
                      </form>
                    </div>
                    <!-- /Account -->
                  </div>
                </div>
              </div>
              <div class="card">
                <h5 class="card-header"><strong>고정지출 목록</strong></h5>
                <div class="table-responsive text-nowrap">
                  <table class="table table-hover table-bordered" style="text-align: center;">
                    <thead>
                      <tr>
                        <th>일</th>
                        <th>중분류</th>
                        <th>내용</th>
                        <th>금액</th>
                        <th>지출분석</th>
                        <th>관리</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      <tr>
                        <% for(var i = 0; i< rows.length; i++) { %>
                          <tr>
                            <td><%=rows[i].date%>일</td>
                            <td><%=rows[i].middleCategory %></td>
                            <td><%=rows[i].content %></td>
                            <td><%=rows[i].price %>원</td>
                            <td><%=rows[i].spendingAnalysis %></td>
                            <td style="border-right: 0; width: 10%;">
                              <div class="btn-group">
                                <button type="button" class="btn btn-icon rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                                  <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                  <form name="deleteForm" action="/fixedEdit" method="post" >
                                    <li>
                                      <input type="hidden" name="dataValue" value= "<%=rows[i].content %>">
                                      <button class="dropdown-item" type="submit"><b>수정</b></button>
                                    </li>
                                  </form>
                                  <li>
                                    <hr class="dropdown-divider" />
                                  </li>
                                  <form name="deleteForm" action="/fixedDel" method="post" >
                                    <li>
                                      <input type="hidden" name="dataValue" value= "<%=rows[i].content %>">
                                      <button class="dropdown-item" type="button" onclick="delCheck(this)"><b>삭제</b></button>
                                    </li>
                                  </form>
                                </ul>
                              </div>
                            </td>
                          </tr>
                        <%}%>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
              </div>
            </div>
            <!-- / Content -->
            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <script src="/vendor/libs/jquery/jquery.js"></script>
    <script src="/vendor/libs/popper/popper.js"></script>
    <script src="/vendor/js/bootstrap.js"></script>
    <script src="/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/vendor/js/menu.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/pages-account-settings-account.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script>
      function checkGoal() {
        var GoalForm = document.GoalForm;
        if(GoalForm.Goalprice.value != "") {
          if(window.confirm('저장하시겠습니까?')) {
            GoalForm.submit();
          }
          else {
            location.href('/setting');
          }
        }
        else {
          alert("목표 금액을 입력해주세요");
          GoalForm.price.focus();
        }
      }
    </script>
    <script>
      function delCheck(name) {
        if(window.confirm('삭제하시겠습니까?')) {
          name.form.submit();
        }
        else {
          location.href('/setting');
        }
      }

      function checkForm() {
        var addForm = document.addForm;
        if(addForm.date.value != "") {
          if(addForm.middle.value != "") {
            if(addForm.content.value != "") {
              if(addForm.price.value != "") {
                if(addForm.spending.value != "") {
                  if(window.confirm('추가하시겠습니까?')) {
                    addForm.submit();
                  }
                  else {
                    location.href('/setting');
                  }
                }
                else {
                  alert("지출분석을 입력해주세요");
                  addForm.spending.focus();
                }
              }
              else {
                alert("가격을 입력해주세요");
                addForm.price.focus();
              }
            }
            else {
              alert("내용을 입력해주세요");
              addForm.content.focus();
            }
          }
          else {
            alert("중분류를 입력해주세요");
            addForm.middle.focus();
          }
        }
        else {
          alert("날짜를 입력해주세요");
          addForm.date.focus();
        }
      }
    </script>

    <script>
      function comma(obj) {
        var regx = new RegExp(/(-?\d+)(\d{3})/);
        var bExists = obj.indexOf(".", 0);
        var strArr = obj.split('.');

        while (regx.test(strArr[0])) {
            strArr[0] = strArr[0].replace(regx, "$1,$2");
        }
        if (bExists > -1) {
            obj = strArr[0] + "." + strArr[1];
        } else { 
            obj = strArr[0];
        }
        return obj;
      }
      function inputNumberFormat(obj) {
        obj.value = comma(obj.value);
      }
    </script>

    <script>
      window.onload=function() {
        var day_meg = new Array(110);
        day_meg[0] = "오랫동안 꿈을 그리는 사람은 마침내 그 꿈을 닮아간다, -앙드레 말로";
        day_meg[1] = "불가능한 일을 해보는 것은 신나는 일이다. -월트 디즈니";
        day_meg[2] = "우선 무엇이 되고자 하는가를 자신에게 말하라 그리고 해야 할 일을 하라. -에픽토테스";
        day_meg[3] = "고통이 남기고 간 뒤를 보라! 고난이 지나면 반드시 기쁨이 스며든다. -괴테";
        day_meg[4] = "무엇을 시도할 용기도 없으면서 멋진 삶을 바란단 말인가. -반 고흐";
        day_meg[5] = "도중에 포기하지 말라. 망설이지 말라. 최후의 성공을 거둘 때까지 밀고 나가자. -헨리포드";
        day_meg[6] = "인생에 뜻을 세우는 데 있어 늦은 때라곤 없다. -볼드윈";
        day_meg[7] = "돈이란 바닷물과도 같다. 그것은 마시면 마실수록 목이 말라진다. -쇼펜하우어";
        day_meg[8] = "겨울이 오면 봄이 멀지 않으리. -셸리";
        day_meg[9] = "좋은 성과를 얻으려면 한 걸음 한 걸음이 힘차고 충실하지 않으면 안 된다. -단테";
        day_meg[10] = "성공해서 만족하는 것은 아니다. 만족하고 있었기 때문에 성공한 것이다. -알랭";
        day_meg[11] = "내 비장의 무기는 아직 손안에 있다. 그것은 희망이다. –나폴레옹";
        day_meg[12] = "We know what we are, but know not what we may be. -William Shakespeare";
        day_meg[13] = "최고에 도달하려면 최저에서 시작하라. -P. 시루스";
        day_meg[14] = "한 번의 실패와 영원한 실패를 혼동하지 마라. -F. 스콧 피츠제랄드";
        day_meg[15] = "진짜 문제는 사람들의 마음이다. 그것은 절대로 물리학이나 윤리학의 문제가 아니다. -아인슈타인";
        day_meg[16] = "화가 날 때는 100까지 세라. 최악일 때는 욕설을 퍼부어라. -마크 트웨인";
        day_meg[17] = "당신이 포기할 때, 나는 시작한다. –엘론 머스크";
        day_meg[18] = "진정으로 웃으려면 고통을 참아야 하며, 나아가 고통을 즐길 줄 알아야 해. -찰리 채플린";
        day_meg[19] = "나이가 성숙을 보장하지는 않는다. -라와나 블랙웰";
        day_meg[20] = "마음만을 가지고 있어서는 안 된다. 반드시 실천하여야 한다. -이소룡";
        day_meg[21] = "고난의 시기에 동요하지 않는 것, 이것은 진정 칭찬받을 만한 뛰어난 인물의 증거다. -베토벤";
        day_meg[22] = "문제는 목적지에 얼마나 빨리 가느냐가 아니라 그 목적지가 어디냐는 것이다. -메이벨 뉴컴버";
        day_meg[23] = "어리석은 자는 멀리서 행복을 찾고, 현명한 자는 자신의 발치에서 행복을 키워간다. -제임스 오펜하임";
        day_meg[24] = "언제나 현재에 집중할 수 있다면 행복할 것이다. -파울로 코엘료";
        day_meg[25] = "가난은 가난하다고 느끼는 곳에 존재한다. -에머슨";
        day_meg[26] = "성공의 비결은 단 한 가지, 잘할 수 있는 일에 광적으로 집중하는 것이다. -톰 모나건";
        day_meg[27] = "고개 숙이지 마십시오. 세상을 똑바로 정면으로 바라보십시오. -헬렌 켈러";
        day_meg[28] = "인생에서 원하는 것을 얻기 위한 첫 번째 단계는 내가 무엇을 원하는지 결정하는 것이다. -벤스타인";
        day_meg[29] = "세상은 고통으로 가득하지만 그것을 극복하는 사람들로도 가득하다. –헬렌 켈러";
        day_meg[30] = "우리는 두려움의 홍수에 버티기 위해서 끊임없이 용기의 둑을 쌓아야 한다. -마틴 루터 킹";
        day_meg[31] = "당신의 행복은 무엇이 당신의 영혼을 노래하게 하는가에 따라 결정된다. –낸시 설리번";
        day_meg[32] = "하루에 3시간을 걸으면 7년 후에 지구를 한 바퀴 돌 수 있다. -사무엘 존슨";
        day_meg[33] = "먼저 자신을 비웃어라 다른 사람이 당신을 비웃기 전에. -엘사 맥스웰";
        day_meg[34] = "오랫동안 꿈을 그리는 사람은 마침내 그 꿈을 닮아간다. -앙드레 말로";
        day_meg[35] = "행복은 습관이다. 그것을 몸에 지녀라. -허버드";
        day_meg[36] = "자신감 있는 표정을 지으면 자신감이 생긴다. -찰스 다윈";
        day_meg[37] = "평생 살 것처럼 꿈을 꾸어라 그리고 내일 죽을 것처럼 오늘을 살아라. -제임스 딘";
        day_meg[38] = "변명 중에서도 가장 어리석고 못난 변명은 '시간이 없어서'이다. -에디슨";
        day_meg[39] = "Sometimes good things fall apart so better things can fall together. -Marilyn Monroe";
        day_meg[40] = "나만이 내 인생을 바꿀 수 있다. 아무도 날 대신해 줄 수 없다. -캐롤 버넷";
        day_meg[41] = "출생과 죽음은 피할 수 없으므로 그 사이를 즐겨라. -조지 산타야나";
        day_meg[42] = "작은 기회로부터 종종 위대한 업적이 시작된다​. -데모스테네스";
        day_meg[43] = "실패는 잊어라. 하지만 그것이 준 교훈은 절대 잊으면 안 된다. - 하버트 개서";
        day_meg[44] = "너 자신이 돼라. 다른 사람은 이미 있으니까. -오스카 와일드";
        day_meg[45] = "승자는 시간을 관리하며 살고 패자는 시간에 끌려 산다. -J. 하비스";
        day_meg[46] = "행동의 가치는 그 행동을 끝까지 이루는 데 있다. -칭기즈칸";
        day_meg[47] = "일단 시작해라. 나중에 완벽해지면 된다. -론 무어";
        day_meg[48] = "겨울이 오면 봄이 멀지 않으리. -셸리";
        day_meg[49] = "위험은 자신이 무엇을 하는지 모르는 데서 온다. -워런 버핏";
        day_meg[50] = "꿈을 계속 간직하고 있으면 반드시 실현할 때가 온다. -괴테";
        day_meg[51] = "내일이란 오늘의 다른 이름일 뿐이다. -윌리엄 포크너";
        day_meg[52] = "건강에 대한 지나친 걱정만큼 건강에 치명적인 것은 없다. -벤자민 프랭클린";
        day_meg[53] = "Your most unhappy customers are your greatest source of learning. -Bill Gates";
        day_meg[54] = "오늘이라는 날은 두 번 다시 오지 않는다는 것을 잊지 말라. -단테";
        day_meg[55] = "계획이란 미래에 대한 현재의 결정이다. -드래커";
        day_meg[56] = "진짜 문제는 사람들의 마음이다. 그것은 절대로 물리학이나 윤리학의 문제가 아니다. -아인슈타인";
        day_meg[57] = "시간은 말로써 나타낼 수 없을 만큼 멋진 만물의 소재이다. -아널드 버넷";
        day_meg[58] = "시간을 선택하는 것은 시간을 절약하는 것이다. -프랜시스 베이컨";
        day_meg[59] = "눈물과 더불어 빵을 먹어 보지 않은 자는 인생의 참다운 맛을 모른다. -괴테";
        day_meg[60] = "시간이 덜어주거나 부드럽게 해주지 않는 슬픔이란 하나도 없다. -키케로";
        day_meg[61] = "시간이 말하는 것을 잘 들어라. 시간은 가장 현명한 법률고문이다. -페리클레스";
        day_meg[62] = "그대는 그대가 원하는 것은 무엇이든지 나에게 청구할 수 있지만 시간만은 안된다. -나폴레옹";
        day_meg[63] = "만약 우리가 할 수 있는 일을 모두 한다면 우리들은 우리 자신에 깜짝 놀랄 것이다. -에디슨";
        day_meg[64] = "내가 헛되이 보낸 오늘 하루는 어제 죽어간 이들이 그토록 바라던 하루이다. -소포클레스";
        day_meg[65] = "단 하루면 인간적인 모든 것을 멸망시킬 수 있고 다시 소생시킬 수도 있다. -소포클레스";
        day_meg[66] = "내일은 시련에 대응하는 새로운 힘을 가져다줄 것이다. -C. 힐티";
        day_meg[67] = "때가 오면 모든 것이 분명해진다. 시간은 진리의 아버지이다. -타블레";
        day_meg[68] = "선천적으로 현명한 사람은 없다. 시간이 모든 것을 완성한다. -세르반테스";
        day_meg[69] = "사람이 여행을 하는 것은 도착하기 위해서가 아니라 여행하기 위해서이다. -괴테";
        day_meg[70] = "세월은 누구에게나 공평하게 주어진 자본금이다. 이 자본을 잘 이용한 사람에겐 승리가 있다. -아뷰난드";
        day_meg[71] = "승자는 시간을 관리하며 살고, 패자는 시간에 끌려 산다. -J. 하비스";
        day_meg[72] = "The greatest glory in living lies not in never falling, but in rising every time we fall. -Nelson Mandela";
        day_meg[73] = "인간은 항상 시간이 모자란다고 불평을 하면서 마치 시간이 무한정 있는 것처럼 행동한다. -세네카";
        day_meg[74] = "시간과 정성을 들이지 않고 얻을 수 있는 결실은 없다. -그라시안";
        day_meg[75] = "시간에의 충실, 그것이 행복이다. -에머슨";
        day_meg[76] = "시간을 얻는 사람은 만사를 얻는다. -디즈레일리";
        day_meg[77] = "하루의 가장 달콤한 순간은 새벽에 있다. -윌콕스";
        day_meg[78] = "하루하루를 우리의 마지막 날인 듯이 보내야 한다. -푸블릴리우스 시루스";
        day_meg[79] = "시간을 지배할 줄 아는 사람은 인생을 지배할 줄 아는 사람이다. -에센 바흐";
        day_meg[80] = "시간을 최악으로 사용하는 사람들은 시간이 부족하다고 늘 불평하는 데 일인자이다. -라 브뤼에르";
        day_meg[81] = "시간의 날개를 타고 슬픔은 날아가 버린다. -라 퐁테느";
        day_meg[82] = "햇빛은 하나의 초점에 모아질 때만 불꽃을 피우는 것이다. -벨";
        day_meg[83] = "기다림만으로 사는 사람은 굶어서 죽는다. -이탈리아 속담-";
        day_meg[84] = "어려운 일은 시간이 해결해 준다. -이솝우화-";
        day_meg[85] = "오늘 하루 이 시간은 당신의 것이다. 하루를 착한 행위로 장식하라. -루스벨트";
        day_meg[86] = "짧은 인생은 시간의 낭비에 의해 더욱 짧아진다. -S. 존슨";
        day_meg[87] = "일은 그것이 쓰일 수 있는 시간이 있는 만큼 팽창한다. -파킨슨";
        day_meg[88] = "시간을 단축시키는 것은 활동이요, 시간을 견디지 못하게 하는 것은 안일함이다. -괴테";
        day_meg[89] = "오늘의 식사는 내일로 미루지 않으면서 오늘 할 일은 내일로 미루는 사람이 많다. -C. 힐티";
        day_meg[90] = "속이는 말로 재물을 모으는 것은 죽음을 구하는 것이다. -성경-";
        day_meg[91] = "끝을 맺기를 처음과 같이 하면 실패가 없다. -노자";
        day_meg[92] = "1%도 안 되는 확률로 이 글을 봤다면, 넌 무엇이든 해낼 수 있어! 이 확률도 뚫었는데 무엇이든 못할까!";
        day_meg[93] = "오늘 할 수 있는 일에만 전력을 쏟으라. -뉴튼";
        day_meg[94] = "나는 장래의 일을 절대로 생각하지 않는다. 그것은 틀림없이 곧 오게 될 테니까. -아인슈타인";
        day_meg[95] = "전력을 다해서 시간에 대항하라. -톨스토이";
        day_meg[96] = "좋은 희망을 품는 것은 그것을 이룰 수 있는 지름길이다. -루터";
        day_meg[97] = "시간이 모든 것을 말해준다. 시간은 묻지 않았는데도 말을 해주는 수다쟁이다. -에우리피데스";
        day_meg[98] = "내일에 아무런 도움이 되지 않는다면, 당신의 과거는 쫓아버려라. -오슬러";
        day_meg[99] = "중요한 건 당신이 어떻게 시작했는가가 아니라 어떻게 끝내는 가이다. -매튜스";
        day_meg[100]= "슬기로운 자는 미래를 현재인 양 대비한다. -명심보감";
        day_meg[101]= "다른 사람의 좋은 습관을 내 습관으로 만들어라. -빌 게이츠";
        day_meg[102]= "때때로 우리는 너무 많이 생각하고, 너무 적게 느낀다. -찰리 채플린";
        day_meg[103]= "가장 어두운 밤도 언젠간 끝나고 해는 떠오를 것이다. -반 고흐";
        day_meg[104]= "실패도 배우는 것이 있으면 성공이다. -말콤 포브스";
        day_meg[105]= "꿈은 내일의 현실이다. -딘 마샬";
        day_meg[106]= "오늘 하나는 내일 둘의 가치가 있다. -벤자민 프랭클린";
        day_meg[107]= "대부분의 사람은 마음먹은 만큼 행복하다. -에이브러햄 링컨";
        day_meg[108]= "길을 잃는다는 것은 곧 길을 알게 된다는 것이다. -동아프리카 속담-";
        day_meg[109]= "인생은 가까이서 보면 비극, 멀리서 보면 희극이다. -찰리 채플린";
        

        var random_num = Math.floor(Math.random()*110);
        var text = document.getElementById('quote');
        text.innerText = day_meg[random_num];
      }
    </script>
  </body>
</html>